{% extends "/index.twig" %}
{% block title %}&Eacute;tag&egrave;re{% endblock %}
{% block head %}
    <link href="/css/lists.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <h2>&Eacute;tag&egrave;re <span>{{ shelf.name|e }}</span></h2>
    {% if msg is not empty %}
        <div class="message">{{ msg|e|nl2br }}</div>
    {% endif %}
    <div id="item-view">
        <div class="edit">
            <button accesskey="e" id="item-view-edit" title="Modifier l'étagère">Modifier...</button>
        </div>
        <span class="label">Nom:</span>{{ shelf.name|e }}
    </div>
    <div id="item-edit">
        <h3>Modifier l'&eacute;tag&egrave;re:</h3>
        <form method="POST" action="/shelf/edit/{{ shelf.id }}" title="Modifier les informations de cet élément">
            <fieldset>
                <input type="hidden" name="id" id="id" value="{{ shelf.id }}" />
                <input type="hidden" name="controller" id="controller" value="shelf" />
                <label>Nom:</label>
                <input type="text" name="name" id="name" value="{{ shelf.name|e }}" title="Nom de l'étagère." />
            </fieldset>
        </form>
    </div>
    <div id="related-items-list">
        <h3>&Eacute;léments dans cette &eacute;tag&egrave;re:</h3>
        
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="/js/itemEdit.js"></script>
{% endblock scripts %}